body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    min-width: 260px;
    padding: 24px 12px 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    display: inline-block;
    height: 48px;
    width: 48px;
    display: none;
}

.score {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    height: 48px;
    width: 48px;
    line-height: 48px;
    text-align: center;
    border-radius: 50%;
    margin-left: 12px;
}

h1 {
    font-weight: 500;
    text-align: center;
}

p {
    font-size: 14px;
}

p img {
    float: left;
    height: 30px;
    margin-right: 12px;
    margin-bottom: 12px;
}

a {
    color: inherit;
}

body.top {
    border-bottom: solid 8px #00CB99;
}

.top .score {
    background: #00CB99;
}

.show-top, .show-high, .show-low, .show-unknown, .hide, #unknown:target ~ .show-unknown {
    display: none;
}

.top .show-top, .high .show-high, .low .show-low, .unknown .show-unknown, #unknown:target {
    display: inherit;
}

body.high {
    border-bottom: solid 8px #FFBB17;
}

body.high .score {
    background: #FFBB17;
}

body.low {
    border-bottom: solid 8px #EE6767;
}

body.low .score {
    background: #EE6767;
}

body.unknown {
    border-bottom: solid 8px #9857D6;
}

body.unknown .score {
    display: none;
}