/* body {
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 0;
} */

@font-face {
    font-family: 'With-Pride-Quicksand';
    font-style: normal;
    src: url('chrome-extension://dhlekahdmgfeoodohlpcnngfjbfdopgo/assets/Quicksand.ttf');
}

body {
    margin: 0;
    font-family: 'With-Pride-Quicksand', sans-serif;
}

iframe.wp-modal {
    border: none;
    font-family: 'With-Pride-Quicksand', sans-serif;
    width: 325px;
    height: 170px;
    background: #fff;
    z-index: 9999;
    position: fixed;
    right: 20px;
    top: 20px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 0 1px #111, 0 3px 6px rgb(17 17 17 / .5);
}

.logo {
    display: inline-block;
    height: 32px;
    width: 32px;
    margin-right: 12px;
}

p {
    margin: 0 12px;
    font-size: 1.2em;
}

header {
    display: flex;
    align-items: center;
    margin: 0 12px;
    min-width: 300px;
}

.grade {
    background: #00CB99;
    margin: 12px -8px 0px;
    height: 15px;
}

.border {
    border-bottom: 4px dotted #777;
    flex-grow: 2;
    margin: 0 12px;
}

.score {
    font-size: 1.5em;
    font-weight: bold;
}

.score:after {
    content: '/100';
    content: '/100';
    font-weight: normal;
    font-size: .75em;
}