/* @font-face {
    font-family: 'With-Pride-Quicksand';
    font-style: normal;
    src: url('chrome-extension://iljkmpenikhpbdnikakmgicjfeocciao/assets/Quicksand.ttf');
} */

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    min-width: 284px;
    padding: 24px 12px 12px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    display: inline-block;
    height: 48px;
    width: 48px;
    margin-right: 12px;
    display: none;
}

.score {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    height: 48px;
    width: 48px;
    line-height: 48px;
    text-align: center;
    border-radius: 50%;
}

h1 {
    font-weight: 500;
    text-align: center;
}

p {
    font-size: 14px;
    display: none;
}

body.top {
    border-bottom: solid 8px #00CB99;
}

.top .score {
    background: #00CB99;
}

.top .show-top, .high .show-high, .low .show-low {
    display: initial;
}

body.high {
    border-bottom: solid 8px #FFBB17;
}

body.high .score {
    background: #FFBB17;
}

body.low {
    border-bottom: solid 8px #EE6767;
}

body.low .score {
    background: #EE6767;
}